@model UserPasswordViewModel

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_WriterLayout";
}

<h2 class="ml-5">@ViewLocalizer["Title"]</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
            {
                @*<div class="form-group">
            <label for="exampleTextarea1">@ViewLocalizer["CurrentPassword"]</label>
                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "", rows = "4" })
                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { style = "color:darkred" })
                </div>*@
                <div class="form-group">
                    <label for="exampleTextarea1">@ViewLocalizer["NewPassword"]</label>
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "", rows = "4" })
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { style = "color:darkred" })
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">@ViewLocalizer["ConfirmNewPassword"]</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "", rows = "4" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { style = "color:darkred" })
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">@ViewLocalizer["Submit"]</button>
            }
        </div>
    </div>
</div>
