@model ReadUserViewModel


@{
    ViewData["Title"] = ViewLocalizer["Homepage"];
    Layout = "_WriterLayout";
}


<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">

            @await Component.InvokeAsync("WriterStatistics",new {username = @Model.Username})

        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@ViewLocalizer["LatestWritten10Blogs"]</h4>
                        <div class="table-responsive">
                            @await Component.InvokeAsync(nameof(CoreDemo.Areas.Writer.ViewComponents.LatestTenPostsToWriterViewComponent).Replace("ViewComponent",""), new { username = @Model.Username })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <h4 class="card-title mt-5 ml-5">@ViewLocalizer["AboutYou"]</h4>
                    <div class="card-body">
                        <div class="d-flex">
                            <img src="~/images/@Model.ImageUrl" class="img-sm rounded-circle mr-3">
                            <div class="mb-0 flex-grow">
                                <h5 class="mr-2 mb-2">@Model.NameSurname - @Model.Username</h5>
                                <p class="mb-0 font-weight-light">
                                    @Model.About
                                </p>
                            </div>
                            <div class="ml-auto">
                                <a href="/Writer/Home/ChangeProfileInformations">
                                    <i class="mdi mdi-settings-outline text-muted">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>