@model CreateCommentViewModel

<h4>@ViewLocalizer["Title"]</h4>
<div class="comment-bottom">
    <form asp-controller="@nameof(BlogController).Replace("Controller","")" method="post" asp-action="@nameof(BlogController.AddComment)">
        <input type="hidden" value="@Model.BlogId" asp-for=BlogId name=BlogId />
        <textarea asp-for="CommentAbout" class="form-control" name="CommentAbout"></textarea>
        <button id="addCommentButton" class="btn btn-primary" type="submit">@ViewLocalizer["Submit"]</button>
    </form>
</div>
