@model UpdateBlogViewModel

@{
    ViewData["Title"] = ViewLocalizer["MainTitle",Model.Title];
    Layout = "_WriterLayout";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="@nameof(CoreDemo.Areas.Writer.Controllers.BlogController.UpdateBlog)"
                  asp-controller="@nameof(CoreDemo.Areas.Writer.Controllers.BlogController).Replace("Controller","")"
                  asp-area="@nameof(CoreDemo.Areas.Writer)"
                  method="post"
                  enctype="multipart/form-data">

                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="Status" value="@Model.Status" />


                <div class="form-group">
                    <label asp-for="Title">@ViewLocalizer["Title"]</label>
                    <input type="text" asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="validation-span"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content">@ViewLocalizer["Content"]</label>
                    <textarea asp-for="Content" class="ckeditor" id="blogContentForm"></textarea>
                    <span asp-validation-for="Content" class="validation-span"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryViewModel.Id">@ViewLocalizer["Category"]</label>
                    <select asp-for="CategoryViewModel.Id" class="form-control"
                            asp-items='(List<SelectListItem>)ViewData["Categories"]'>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="ThumbnailImage">@ViewLocalizer["ThumbnailImage"]</label>
                    <input type="file" class="form-control" asp-for="ThumbnailImage" />
                    <span asp-validation-for="ThumbnailImage" class="validation-span"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MainImage">@ViewLocalizer["MainImage"]</label>
                    <input type="file" class="form-control" asp-for="MainImage" />
                    <span asp-validation-for="MainImage" class="validation-span"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">@ViewLocalizer["Submit"]</button>
                <button type="reset" class="btn btn-light">@ViewLocalizer["Discard"]</button>

            </form>
        </div>
    </div>
</div>

<script>

    CKEDITOR.replace('blogContentForm',
        {
            toolbar: 'Basic', 
            uiColor: '#9AB8F3'
        });
</script>