@model ReadUserViewModel

@{
    string adminArea = nameof(CoreDemo.Areas.Admin);

    string homeController = nameof(CoreDemo.Areas.Admin.Controllers.HomeController).Replace("Controller", "");
    string categoryController = nameof(CoreDemo.Areas.Admin.Controllers.CategoryController).Replace("Controller", "");
    string blogController = nameof(CoreDemo.Areas.Admin.Controllers.BlogController).Replace("Controller", "");
    string statisticController = nameof(CoreDemo.Areas.Admin.Controllers.StatisticController).Replace("Controller", "");
    string chartController = nameof(CoreDemo.Areas.Admin.Controllers.ChartController).Replace("Controller", "");
    string userController = nameof(CoreDemo.Areas.Admin.Controllers.UserController).Replace("Controller", "");
    string messageController = nameof(CoreDemo.Areas.Admin.Controllers.MessageController).Replace("Controller", "");
    string contactController = nameof(CoreDemo.Areas.Admin.Controllers.ContactController).Replace("Controller", "");
    string aboutController = nameof(CoreDemo.Areas.Admin.Controllers.AboutController).Replace("Controller", "");
    string notificationController = nameof(CoreDemo.Areas.Admin.Controllers.NotificationController).Replace("Controller", "");

}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle img-fluid" style="width: 60px; height: 60px;" src="~/images/@Model.ImageUrl" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@Model.NameSurname</span>
                        <span class="text-muted text-xs block">@Model.Username <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="/@userController/@nameof(CoreDemo.Controllers.UserController.SeeProfile)/@Model.Username">Profilimi Goruntule</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/@userController/@nameof(CoreDemo.Controllers.UserController.LogOut)">@ViewLocalizer["Logout"]</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="#myprofile"><i class="fa fa-user"></i> <span class="nav-label">@ViewLocalizer["MyProfile"]</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@homeController/@nameof(CoreDemo.Areas.Admin.Controllers.HomeController.ChangeProfileInformations)">@ViewLocalizer["ChangeProfileInfos"]</a></li>
                    <li><a href="/@adminArea/@homeController/@nameof(CoreDemo.Areas.Admin.Controllers.HomeController.ChangePassword)">@ViewLocalizer["ChangePassword"]</a></li>
                    <li><a href="/@adminArea/@homeController/@nameof(CoreDemo.Areas.Admin.Controllers.HomeController.ChangeProfilePhoto)">@ViewLocalizer["ChangeProfilePhoto"]</a></li>
                </ul>
            </li>
            <li>
                <a href="#categories"><i class="fa fa-th"></i> <span class="nav-label">@ViewLocalizer["Categories"]</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@categoryController/@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController.GetCategories)"">@ViewLocalizer["ListCategories"]</a></li>
                    <li><a href="/@adminArea/@categoryController/@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController.AddCategory)" ">@ViewLocalizer["AddNewCategory"]</a></li>
                    <li><a href="/@adminArea/@categoryController/@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController.ExportStaticExcelCategories)">@ViewLocalizer["DownloadCategoriesAsExcelFile"]</a></li>
                </ul>
            </li>
            <li>
                <a href="#blogs"><i class="fa fa-list"></i> <span class="nav-label">@ViewLocalizer["Blogs"]</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@blogController/@nameof(CoreDemo.Areas.Admin.Controllers.BlogController.GetBlogs)">@ViewLocalizer["ViewBlogs"]</a></li>
                    <li><a href="/@adminArea/@blogController/@nameof(CoreDemo.Areas.Admin.Controllers.BlogController.MyBlogs)">@ViewLocalizer["MyBlogs"]</a></li>
                    <li><a href="/@adminArea/@blogController/@nameof(CoreDemo.Areas.Admin.Controllers.BlogController.AddBlog)">@ViewLocalizer["AddBlog"]</a></li>
                </ul>
            </li>
            <li>
                <a href="/@adminArea/@statisticController/@nameof(CoreDemo.Areas.Admin.Controllers.StatisticController.GetStatistics)"><i class="fa fa-pie-chart"></i> <span class="nav-label">@ViewLocalizer["Statistics"]</span></a>
            </li>
            <li>
                <a href="#graphics"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">@ViewLocalizer["Graphics"]</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/Chart/CategoryChart">@ViewLocalizer["CategoryDonutGraph"]</a></li>
                </ul>
            </li>
            <li>
                <a href="#messages"><i class="fa fa-envelope"></i> <span class="nav-label">@ViewLocalizer["Messages"]</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@messageController/@nameof(CoreDemo.Areas.Admin.Controllers.MessageController.ViewInbox)">@ViewLocalizer["IncomingMessages"]</a></li>
                    <li><a href="/@adminArea/@messageController/@nameof(CoreDemo.Areas.Admin.Controllers.MessageController.ViewSentbox)">@ViewLocalizer["SentMessages"]</a></li>
                </ul>
            </li>
            <li>
                <a href="/@adminArea/@userController/@nameof(CoreDemo.Areas.Admin.Controllers.UserController.GetUsers)"><i class="fa fa-users"></i> <span class="nav-label">@ViewLocalizer["Users"]</span></a>
            </li>
            <li>
                <a href="#about"><i class="fa fa-info"></i> <span class="nav-label">@ViewLocalizer["About"]</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@aboutController/@nameof(CoreDemo.Areas.Admin.Controllers.AboutController.GetAbouts)">@ViewLocalizer["ViewAbouts"]</a></li>
                    <li><a href="/@adminArea/@aboutController/@nameof(CoreDemo.Areas.Admin.Controllers.AboutController.AddAbout)">@ViewLocalizer["AddAbout"]</a></li>
                </ul>
            </li>
            <li>
                <a href="/@adminArea/@contactController/@nameof(CoreDemo.Areas.Admin.Controllers.ContactController.GetContacts)">
                    <i class="fa fa-address-book"></i> <span class="nav-label">@ViewLocalizer["Contact"]</span>
                </a>
            </li>
            <li>
                <a href="#notification"><i class="fa fa-diamond"></i> <span class="nav-label">@ViewLocalizer["Notifications"]</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/@adminArea/@notificationController/@nameof(CoreDemo.Areas.Admin.Controllers.NotificationController.GetNotifications)">@ViewLocalizer["ViewNotifications"]</a></li>
                    <li><a href="/@adminArea/@notificationController/@nameof(CoreDemo.Areas.Admin.Controllers.NotificationController.AddNotification)">@ViewLocalizer["AddNotification"]</a></li>
                </ul>
            </li>
            <li>
                <a href="/@blogController/@nameof(CoreDemo.Controllers.BlogController.GetAll)">
                    <i class="fa fa-sitemap"></i><span class="menu-title">@ViewLocalizer["GoBackSite"]</span>
                </a>
            </li>

        </ul>

    </div>
</nav>

