
@model UpdateBlogViewModel

@{
    ViewBag.Title = @ViewLocalizer["Title",Model.BlogTitle];
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" style="margin-bottom:3em">@ViewLocalizer["Title",Model.BlogTitle]</h3>

            <form asp-action="GetBlogDetails" asp-controller="Blog" asp-area="Admin" enctype="multipart/form-data" method="post">
                <input type="hidden" asp-for="BlogId" value="@Model.BlogId" />

                <div class="form-group">
                    <label>@ViewLocalizer["BlogTitle"]</label>
                    <input type="text" asp-for="@Model.BlogTitle" name="BlogTitle"  class="form-control" style="border:1px solid black" />
                    <span asp-validation-for="BlogTitle" style="color:darkred"></span>        
                </div>

                <div class="form-group">
                    <label>@ViewLocalizer["BlogContent"]</label>
                    @*//TODO : Text Editor ile yapilabilir.*@

                    <textarea class = "form-control" style = "border:1px solid black" rows = "4" asp-for="BlogContent" name="BlogContent"></textarea>
                    <span asp-validation-for="BlogContent" style="color:darkred"></span>
                </div>

                <div class="form-group">
                    <label>@ViewLocalizer["BlogCategory"]</label>
                    @Html.DropDownListFor(x => x.CategoryViewModel.CategoryId, (List<SelectListItem>)ViewData["Categories"], new { @class = "form-control", style = "border:1px solid black" })
                </div>

                <div class="form-group">
                    <label>@ViewLocalizer["BlogThumbnailPhoto"]</label>
                    <input type="file" class="form-control" name="BlogThumbnailImage"/>
                    <span asp-validation-for="BlogThumbnailImage" style="color:darkred"></span>
                </div>
                <div class="form-group">
                    <label>@ViewLocalizer["BlogMainPhoto"]</label>
                    <input type="file" class="form-control" name="BlogMainImage"/>
                    <span asp-validation-for="BlogMainImage" style="color:darkred"></span>
                </div>

                <button type="submit" class="btn btn-gradient-primary mr-2 w-100" style="height:50px">@ViewLocalizer["SubmitText"]</button>
            </form>

        </div>
    </div>
</div>
