@model CoreDemo.Models.UpdateBlogViewModel

@{
    ViewBag.Title = @Model.BlogTitle + " baslikli blogu duzenleme";
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" style="margin-bottom:3em">@Model.BlogTitle baslikli blogu duzenleme</h3>
            @using (Html.BeginForm("GetBlogDetails", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.BlogId)

                <div class="form-group">
                    <label>Baslik</label>
                    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control", style = "border:1px solid black", placeholder = "Baslik" })
                    @Html.ValidationMessageFor(x => x.BlogTitle, "", new { style = "color:darkred" })
                </div>

                <div class="form-group">
                    <label>Icerik</label>
                    @*//TODO : Text Editor ile yapilabilir.*@

                    @Html.TextAreaFor(x => x.BlogContent, new { @class = "form-control", style = "border:1px solid black", placeholder = "Icerik", rows = "4" })
                    @Html.ValidationMessageFor(x => x.BlogContent, "", new { style = "color:darkred" })
                </div>

                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.CategoryViewModel.CategoryId, (List<SelectListItem>)ViewData["Categories"], new { @class = "form-control", style = "border:1px solid black" })
                </div>

                //TODO : Eklenmis resimlerin buraya gelmesi gerekiyor

                <div class="form-group">
                    <label>Kapak resim</label>
                    <input type="file" class="form-control" name="BlogThumbnailImage" />
                    @Html.ValidationMessageFor(x => x.BlogThumbnailImage, "", new { style = "color:darkred" })
                </div>
                <div class="form-group">
                    <label>Ana resim</label>
                    <input type="file" class="form-control" name="BlogMainImage" />
                    @Html.ValidationMessageFor(x => x.BlogMainImage, "", new { style = "color:darkred" })
                </div>

                <button type="submit" class="btn btn-gradient-primary mr-2 w-100" style="height:50px">Guncelle</button>
            }
        </div>
    </div>
</div>
