@model ReadMessageViewModel

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom:3em">@ViewLocalizer["Title"]</h4>
            <div class="form-group">
                <label>@ViewLocalizer["Subject"]</label>
                <input type="text" asp-for="MessageSubject" class="form-control"  disabled="true" style="border:1px solid black" />
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["Sender"]</label>
                <input type="text" asp-for="Sender.NameSurname" class="form-control" disabled="true" style="border:1px solid black" />
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["SentAt"]</label>
                <input type="text" asp-for="MessageDateTime" class="form-control" disabled="true" style="border:1px solid black" />
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["Content"]</label>
                <textarea asp-for="MessageDetail" class="form-control" disabled="true" style="border:1px solid black" name="MessageDetail"></textarea>
            </div>
            <a class="btn btn-dark" href="/Admin/Message/ViewInbox">@ViewLocalizer["GoBack"]</a>
        </div>
    </div>

    
</div>