@model ReadMessageViewModel

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom:3em">@ViewLocalizer["Title"]</h4>
            <div class="form-group">
                <label>@ViewLocalizer["Subject"]</label>
                <input type="text" asp-for="Subject" class="form-control"  disabled="true"/>
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["Sender"]</label>
                <input type="text" asp-for="Sender.NameSurname" class="form-control" disabled="true" />
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["SentAt"]</label>
                <input type="text" asp-for="CreatedAt" class="form-control" disabled="true" />
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["Content"]</label>
                <textarea asp-for="Detail" class="ckeditor" disabled="true" id="messageContentForm"></textarea>
            </div>
            <a class="btn btn-dark" href="/Admin/Message/ViewInbox">@ViewLocalizer["GoBack"]</a>
        </div>
    </div>

    
</div>

<script>

    CKEDITOR.replace('messageContentForm',
        {
            toolbar: 'Basic',
            uiColor: '#9AB8F3'
        });
</script>