@model CreateCategoryViewModel

@{
    ViewBag.Title = @ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}

<h1 class="card-title ml-3">@ViewLocalizer["Title"]</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form 
                asp-area="@nameof(CoreDemo.Areas.Admin)"
                  asp-action="@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController.AddCategory)"
                  asp-controller="@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController).Replace("Controller","")" 
            method="post">
                <div class="form-group">
                    <label>@ViewLocalizer["Name"]</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="validation-span"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">@ViewLocalizer["CategoryDescription"]</label>
                    <textarea asp-for=Description  class="form-control" name="Description"></textarea>
                    <span asp-validation-for="Description" class="validation-span"></span>
                </div>

                <button type="submit" class="btn btn-success">@ViewLocalizer["Submit"]</button>
                <button type="reset" class="btn btn-success">@ViewLocalizer["Discard"]</button>

            </form>
        </div>
    </div>
</div>
