@model CreateCategoryViewModel

@{
    ViewBag.Title = @ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom:3em">@ViewLocalizer["Title"]</h4>

            <form asp-area="Admin" asp-action="AddCategory" asp-controller="Category" method="post">
                <div class="form-group">
                    <label>@ViewLocalizer["CategoryName"]</label>
                    <input type="text" class="form-control" name="CategoryName" style="border:1px solid black" asp-for="CategoryName" />
                    <span asp-validation-for="CategoryName" style="color:darkred"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryDescription">@ViewLocalizer["CategoryDescription"]</label>
                    <textarea asp-for=CategoryDescription style="border:1px solid black" class="form-control" rows="4" name="CategoryDescription"></textarea>
                    <span asp-validation-for="CategoryDescription" style="color:darkred"></span>
                </div>

                <button type="submit" class="btn btn-success mr-2 w-100" style="height:50px">@ViewLocalizer["Submit"]</button>

            </form>
        </div>
    </div>
</div>
