@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<ReadCategoryViewModel>

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}


<div class="row mt-5">
    <div class="col-12">
        <div class="ibox ">
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@ViewLocalizer["CategoryName"]</th>
                            <th>@ViewLocalizer["SetActive"]</th>
                            <th>@ViewLocalizer["SetDeactive"]</th>
                            <th>@ViewLocalizer["Edit"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CategoryId</td>
                                <td>@item.CategoryName</td>
                                @if (item.CategoryStatus)
                                {
                                    <td><a class="btn btn-danger disabled text-white">@ViewLocalizer["SetActive"]</a></td>
                                    <td><a class="btn btn-warning text-white" onclick="confirmActiveDeactive(true,@item.CategoryId)">@ViewLocalizer["SetDeactive"]</a></td>
                                }
                                else
                                {
                                    <td><a class="btn btn-danger text-white" onclick="confirmActiveDeactive(false,@item.CategoryId)">@ViewLocalizer["SetActive"]</a></td>
                                    <td><a class="btn btn-warning text-white disabled">@ViewLocalizer["SetDeactive"]</a></td>
                                }

                                <td><a href="/Admin/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">@ViewLocalizer["Edit"]</a></td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div style="margin: auto; width: 50%; margin-left: 40%;">
    @Html.PagedListPager(Model, pageNumber => Url.Action("GetCategories", new { page = pageNumber }))
</div>

<script>

    function confirmActiveDeactive(status, id) {

        if (status === true) {
            swal({
                title: "@ViewLocalizer["SwalTitle"]",
                text: "@ViewLocalizer["VerifyCategoryDeactiveMessage"]",
                icon: "warning",
                buttons: true,
                dangerMode: true
            })
                .then(async (willDelete) => {
                    if (willDelete) {
                        swal("@ViewLocalizer["CategorySuccessfullySetDeactive"]", { icon: "success" });
                        await new Promise(resolve => setTimeout(resolve, 3000));
                            $.ajax({
                                url: "/Admin/Category/DisableCategory/" + id,
                                type: 'GET',
                                success: function () {
                                    window.location.href = "/Admin/Category/GetCategories";
                                }
                            });
                    }

                });
        }
        else {
            swal({
                    title: "@ViewLocalizer["Title"]",
                    text: "@ViewLocalizer["VerifyCategoryActiveMessage"]",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                .then(async (willDelete) => {
                    if (willDelete) {
                        swal("@ViewLocalizer["CategorySuccessfullySetActive"]", { icon: "success" });
                        await new Promise(resolve => setTimeout(resolve, 3000));
                        $.ajax({
                            url: "/Admin/Category/EnableCategory/" + id,
                            type: 'GET',
                            success: function () {
                                window.location.href = "/Admin/Category/GetCategories";
                            }
                        });
                    }

                });
        }


    }
</script>
