@model UpdateCategoryViewModel

@{
    ViewBag.Title = @ViewLocalizer["Title",Model.Name];
    Layout = "_AdminLayout";
}

<h2 class="card-title ml-3">@ViewLocalizer["Title",Model.Name]</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <form 
                asp-controller="@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController).Replace("Controller","")" 
                asp-action="@nameof(CoreDemo.Areas.Admin.Controllers.CategoryController.UpdateCategory)"
                  asp-area="@nameof(CoreDemo.Areas.Admin)"
                  method="post">

                <input type="hidden" value="@Model.Id" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name">@ViewLocalizer["CategoryName"]</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="validation-span"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">@ViewLocalizer["CategoryDescription"]</label>
                    <textarea asp-for="Description" class="form-control rows="4"></textarea>
                    <span asp-validation-for="Description" class="validation-span"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary">@ViewLocalizer["Submit"]</button>
                <button type="reset" class="btn btn-gradient-primary">@ViewLocalizer["Discard"]</button>
            
            </form>

        </div>
    </div>
</div>