@model CoreDemo.Models.UserSignUpViewModel

@{
    ViewData["Title"] = ViewLocalizer["Register"];
    Layout = "_UserLayout";
}

<style>
    .validation-summary-valid h6 {
        display: none;
    }
</style>


<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">@ViewLocalizer["RegisterTitle"]</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                
                <form 
                    novalidate
                    asp-action="@nameof(UserController.Register)" 
                    asp-controller="@nameof(UserController).Replace("Controller", "")" 
                    method="post" 
                    enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="NameSurname">@ViewLocalizer["NameSurname"]</label>
                            <input type="text" class="form-control mb-2" asp-for="NameSurname" />
                            <span asp-validation-for="NameSurname" class="validation-span"></span>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label asp-for="Username">@ViewLocalizer["Username"]</label>
                            <input type="text" class="form-control mb-2" asp-for="Username" />
                            <span asp-validation-for="Username" class="validation-span"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Email">@ViewLocalizer["Email"]</label>
                            <input type="email" class="form-control mb-2" asp-for="Email" />
                            <span asp-validation-for="Email" class="validation-span"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="ProfileImage">@ViewLocalizer["ProfilePhoto"]</label>
                            <input type="file" class="form-control mb-2" asp-for="ProfileImage" />
                            <span asp-validation-for="ProfileImage" class="validation-span"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Password">@ViewLocalizer["Password"]</label>
                            <input type="password" class="form-control mb-2" asp-for="Password" />
                            <span asp-validation-for="Password" class="validation-span"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword">@ViewLocalizer["ConfirmPassword"]</label>
                            <input type="password" class="form-control mb-2" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="validation-span"></span>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="form-check mb-2 ml-1">
                            <input type="checkbox" asp-for="IsPoliciesAccepted" class="form-check-input" />
                            <p style="color: blue; cursor: pointer;" onclick="ShowAllPoliciesAlert()">
                                <b>@ViewLocalizer["AcceptedPolicies"]</b>
                            </p>
                            <span asp-validation-for="IsPoliciesAccepted" class="validation-span"></span>
                        </div>
                    </div>

                    <button type="submit" id="submit-button" class="btn btn-primary submit mb-5">@ViewLocalizer["Register"]</button>


                    <div asp-validation-summary=All class="validation-summary-span">
                        <h6 class="my-3">Please correct the following errors</h6>
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>

<script>
    function ShowAllPoliciesAlert() {
        swal("@ViewLocalizer["SitePoliciesTitle"]", "@ViewLocalizer["SitePoliciesContent"]");
    }
</script>

