@model ReadMessageViewModel

@{
    ViewBag.Title = ViewLocalizer["Title"];
    Layout = "_WriterLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom:3em">@ViewLocalizer["Title"]</h4>
            <div class="form-group">
                <label>@ViewLocalizer["MessageSubject"]</label>
                @Html.TextBoxFor(x => x.MessageSubject, new { @class = "form-control", disabled = "true", style = "border:1px solid black", placeholder = "" })
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["Sender"]</label>
                @Html.TextBoxFor(x => x.Sender.NameSurname, new { @class = "form-control", disabled = "true", style = "border:1px solid black", placeholder = "" })
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["SentDate"]</label>
                @Html.TextBoxFor(x => x.MessageDateTime, new { @class = "form-control", disabled = "true", style = "border:1px solid black", placeholder = "" })
            </div>
            <div class="form-group">
                <label>@ViewLocalizer["MessageContent"]</label>
                @Html.TextAreaFor(x => x.MessageDetail, new { @class = "form-control", disabled = "true", style = "border:1px solid black", placeholder = "" })
            </div>
            <a class="btn btn-dark" href="/Writer/Message/ViewInbox">@ViewLocalizer["GoBackToIncomingMessages"]</a>
        </div>
    </div>

    
</div>
