@model ReadUserViewModel

@{
    ViewData["Title"] = "Profili Düzenle";
    Layout = "_WriterLayout";
}

<h2 class="ml-5">Profili Düzenle</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("ChangeProfile", "Writer", FormMethod.Post))
            {
                @Html.HiddenFor(x=>x.UserId)

                <div class="form-group">
                    <label for="exampleTextarea1">Ad Soyad</label>
                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", style = "border:1px solid black", placeholder = "Ad Soyad", rows = "4" })
                    @Html.ValidationMessageFor(x => x.NameSurname, "", new { style = "color:darkred" })
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Hakkında</label>
                    @Html.TextAreaFor(x => x.UserAbout, new { @class = "form-control", style = "border:1px solid black", placeholder = "Hakkinda", rows = "4" })
                    @Html.ValidationMessageFor(x => x.UserAbout, "", new { style = "color:darkred" })
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
            }
        </div>
    </div>
</div>