@model UserPasswordViewModel

@{
    ViewBag.Title = "Şifre Düzenle";
    Layout = "_WriterLayout";
}

<h2 class="ml-5">Şifre Düzenle</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("ChangePassword", "Writer", FormMethod.Post))
            {
                @*<div class="form-group">
                    <label for="exampleTextarea1">Eski Şifre</label>
                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "Eski Şifre", rows = "4" })
                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { style = "color:darkred" })
                </div>*@
                <div class="form-group">
                    <label for="exampleTextarea1">Yeni Şifre</label>
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "Yeni Şifre", rows = "4" })
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { style = "color:darkred" })
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yeni Şifre Tekrar</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", style = "border:1px solid black", placeholder = "Yeni Şifre Tekrar", rows = "4" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { style = "color:darkred" })
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
            }
        </div>
    </div>
</div>
