@model ReadWriterViewModel 

@{
    ViewData["Title"] = "Anasayfa";
    Layout = "_WriterLayout";
}


<div class="main-panel">
    <div class="content-wrapper">
    
        <div class="row">
            
            @await Component.InvokeAsync("WriterStatistics",new {currentWriterId = @Model.WriterId}) 
           
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Son yazılan on bloglarınız</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Başlık resmi </th>
                                    <th> Başlık adı </th>
                                    <th> Kategori </th>
                                    <th> Yayınlandığı tarih </th>
                                    <th> Detaylar </th>
                                </tr>
                                </thead>
                                <tbody>
                                @await Component.InvokeAsync("LatestTenPostsToWriter", new { writerId = @Model.WriterId })
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <h4 class="card-title mt-5 ml-5">Hakkınızda</h4>
                    <div class="card-body">
                        <div class="d-flex">
                            <img src="~/writerProfileImages/@Model.WriterImage" class="img-sm rounded-circle mr-3">
                            <div class="mb-0 flex-grow">
                                <h5 class="mr-2 mb-2">@Model.UserViewModel.UserFirstName @Model.UserViewModel.UserLastName - @Model.UserViewModel.Username</h5>
                                <p class="mb-0 font-weight-light">
                                    @Model.WriterAbout
                                </p>
                            </div>
                            <div class="ml-auto">
                                <a href="/Writer/ChangeProfile">
                                    <i class="mdi mdi-settings-outline text-muted">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!--<footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates </a> from Bootstrapdash.com</span>
        </div>
    </footer>-->
    <!-- partial -->
    

</div>