
@{
    ViewBag.Title = @ViewLocalizer["Title"];
    Layout = "_AdminLayout";
}

<h2>@ViewLocalizer["PageTitle"]</h2>
<br />

<button type="button" id="btnGetUsers" class="btn btn-primary">@ViewLocalizer["ListUsers"]</button>
<button type="button" id="btnShowUserIdText"
        class="btn btn-primary">
    @ViewLocalizer["ListUsersByUsername"]
</button>
<br />
<br />

<div id="userList">
    <label class="mt-2">
        @ViewLocalizer["ListAreaInfoText"]
    </label>
</div>

<div id="userIdDiv" style="display: none; ">
    <input type="text"
           id="userUsernameText"
           placeholder="@ViewLocalizer["EnterUsername"]"
           class="form-control border border-dark mb-2"
           style="width: 200px" />
    <button type="button" id="btnGetUser"
            class="btn btn-primary">
        @ViewLocalizer["ListButtonText"]
    </button>
</div>


@section scripts{
    <script>

        window.onload = function () {
            @Html.Raw(TempData["Message"])
        }

        toastr.options.progressBar = true;
        toastr.options.positionClass = "toast-bottom-right";

        GetUsers = function () {
            var users = {};

            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/User/GetUsersJson",
                success: function (data) {
                    users = jQuery.parseJSON(data);
                }
            });

            return users;
        }

        GetUsersByUsername = function (username) {
            var foundUser = {};

            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/User/GetUsersByUsernameJson?username=" + username,
                success: function (data) {
                    foundUser = jQuery.parseJSON(data);
                }
            });

            return foundUser;
        }

        LoadToTableGetUsers = function () {

            var users = GetUsers();

            var tableHTML =
                "<table class='table table-bordered'>" +
                "<tr> " +
                "<th> # </td>" +
                "<th> @ViewLocalizer["UserNameSurname"] </td>" +
                "<th> @ViewLocalizer["UserUsername"] </td>" +
                "<th> @ViewLocalizer["UserProcesses"] </td>" +
                //"<th> Yazarın Durumu </td>" +
                //"<th> Yazarı Banla / Banını Kaldır </td>" +
                "</tr>";
            for (var i = 0; i < users.length; i++) {
                tableHTML += "<tr>";
                tableHTML += "<td>" + users[i].UserId + "</td>";
                tableHTML += "<td>" + users[i].NameSurname + "</td>";
                tableHTML += "<td>" + users[i].Username + "</td>";
                tableHTML += "<td>";
                tableHTML += "<a href='/Admin/User/UpdateRolesToUser/" + users[i].UserId + "' class='btn btn-success'>@ViewLocalizer["GetRolesToUser"]</a>";
                tableHTML += "</td> ";
                //if (!writers[i].LockoutEnabled)
                //    tableHTML += "<td>Temiz</td>";
                //else
                //    tableHTML += "<td>Banlı</td>";

                //tableHTML += "<td> <button type=button onClick=EnableOrDisableWriter(" + writers[i].UserId + ") class='btn btn-warning' > Yazarı Banla / Banını Kaldır</button > </td > ";
                tableHTML += "</tr>";
            }

            tableHTML += "</table>";

            $("#userList").html(tableHTML);
        }

        LoadToTableGetUsersByUsername = function () {

            var username = $("#userUsernameText").val();

            if (username === "")
                toastr.error("@ViewLocalizer["EnterUsername"]");
            else {

                var users = GetUsersByUsername(username);

                if(users.length == 0){
                    var emptyList = "<div class='alert alert-warning font-weight-bold'> @ViewLocalizer["NoUserHasBeenFoundByThisUsername"] </div>"
                    $("#userList").html(emptyList);
                }

                else {
                    var tableHTML =
                        "<table class='table table-bordered'>" +
                        "<tr> " +
                        "<th> # </td>" +
                        "<th> @ViewLocalizer["UserNameSurname"] </td>" +
                        "<th> @ViewLocalizer["UserUsername"] </td>" +
                        "<th> @ViewLocalizer["UserProcesses"] </td>" +
                        //"<th> Yazarın Durumu </td>" +
                        //"<th> Yazarı Banla / Banını Kaldır </td>" +
                        "</tr>";
                    for (var i = 0; i < users.length; i++) {
                        tableHTML += "<tr>";
                        tableHTML += "<td>" + users[i].UserId + "</td>";
                        tableHTML += "<td>" + users[i].NameSurname + "</td>";
                        tableHTML += "<td>" + users[i].Username + "</td>";
                        tableHTML += "<td>";
                        tableHTML += "<a href='/Admin/User/UpdateRolesToUser/" + users[i].UserId + "' class='btn btn-success'>@ViewLocalizer["GetRolesToUser"]</a>";
                        tableHTML += "</td> ";
                        //if (!writers[i].LockoutEnabled)
                        //    tableHTML += "<td>Temiz</td>";
                        //else
                        //    tableHTML += "<td>Banlı</td>";

                        //tableHTML += "<td> <button type=button onClick=EnableOrDisableWriter(" + writers[i].UserId + ") class='btn btn-warning' > Yazarı Banla / Banını Kaldır</button > </td > ";
                        tableHTML += "</tr>";
                    }

                    tableHTML += "</table>";

                    $("#userList").html(tableHTML);
                }

                
                
            }


        }

        EnableOrDisableUser = function (id) {
            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "POST",
                url: "/Admin/User/EnableOrDisableUser?id=" + id,
            }).then(
                toastr.success('Kullanici banlama / ban kaldırma işlemi başarılı')
            );

            var element = document.getElementById("userIdDiv");

            if (element.style.display === "none")
                LoadToTableGetUsers();
            else
                LoadToTableGetUsersByUsername();
        }

        $("#btnShowUserIdText").click(function () {


            document.getElementById("userList").innerHTML = "<label class='mt-2'>@ViewLocalizer["ListAreaInfoText"]</label>";

            var div = document.getElementById("userIdDiv");

            if (div.style.display === "block") {
                div.style.display = "none";
            } else {

                div.style.display = "block";
            }


        });

        $("#btnGetUsers").click(function () {

            document.getElementById("userList").innerHTML = "";

            var element = document.getElementById("userIdDiv");
            element.style.display = "none";
            LoadToTableGetUsers();
        });

        $("#btnGetUser").click(function () {
            LoadToTableGetUsersByUsername();
        });


    </script>
}
